*{
    margin:0;
    padding=0;
}


    html,body{
        height:100%;
      }



.clock{
 
    -webkit-text-fill-color:#a2afaf;

    font-size: 20ex;
    text-align:center;
     margin-top: 20%;
     background-color:#000000;
}

#greeting{
    -webkit-text-fill-color: green;
    font-size:70px;
 font-style: oblique;
    text-align:center;

}
